body {
  margin: 0;
  font-family: roboto;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4%;
}

.header {
  display: flex;
}


#pippy {
  width: 20vw;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 30vw;
  align-items: center;
  justify-content: space-between;
  margin: 2%;
}

.stats {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.items-head {
  display: flex;
  flex-direction: column;
  margin: 2%;
  background: #dadad8;
}

.meter {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  width: 100px;
  height: 2vh;
}

#hunger-meter {
  background: #fb7465;
  width: 100px;
  height: 2vh;
  border-radius: 4px;
}

#toilet-meter {
  background: #fb7465;
  width: 100px;
  height: 2vh;
  border-radius: 4px;
}

#chicken {
  display: flex;
  flex-direction: row;
  margin: 2%;
  width: 40px;
  height: 40px;
  background: #fb7465;
}

#ball {
  display: flex;
  flex-direction: row;
  margin: 2%;
  width: 40px;
  height: 40px;
  background: #fb7465;
}

@font-face {
  font-family: "roboto";
  src: url("https://cdn.glitch.global/95a4f36d-8f2e-43e2-9225-82e0b4e65cc3/roboto.ttf?v=1648214394138");
}
