body {
  margin: 0;
  font-family: verdana;
  font-weight: bold;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
}

.pippy {
  
}
