body {
  margin: 0;
  font-family: roboto;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

#intro {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: fixed;
  margin-top: -10%;
  z-index: 999;
  align-items: center;
  justify-content: center;
  background: white;
  width: 100vw;
  min-height: 120vh;
  font-size: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4%;
}

.header {
  display: flex;
  font-size: 1.3em;
  text-transform: uppercase;
}

#pippy {
  width: 25vw;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2%;
}

.stats {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.meter {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  width: 100px;
  height: 2vh;
}

#hunger-meter {
  background: #c1cdcc;
  width: 100px;
  height: 2vh;
  border-radius: 4px;
}

#toilet-meter {
  background: #c1cdcc;
  width: 100px;
  height: 2vh;
  border-radius: 4px;
}

#fun-meter {
  background: #c1cdcc;
  width: 100px;
  height: 2vh;
  border-radius: 4px;
}

#energy-meter {
  background: #c1cdcc;
  width: 100px;
  height: 2vh;
  border-radius: 4px;
}

.inventory {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  margin: 2%;
  background: #f2f5f4;
  padding: 1%;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
}

.items {
  display: flex;
  flex-direction: row;
}

#chicken {
  display: flex;
  flex-direction: row;
  margin: 2%;
  width: 150px;
  height: 150px;
}

#hydrant {
  display: flex;
  flex-direction: row;
  margin: 2%;
  width: 130px;
  height: 130px;
}

#ball {
  display: flex;
  flex-direction: row;
  margin: 2%;
  width: 120px;
  height: 120px;
}

#nyquil {
  display: flex;
  flex-direction: row;
  margin: 2%;
  width: 130px;
  height: 130px;
}

#death {
  display: none;
  position: fixed;
  z-index: 999;
  align-items: center;
  justify-content: center;
  background: black;
  margin-top: -5%;
  width: 100vw;
  min-height: 105%;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
}

@font-face {
  font-family: "roboto";
  src: url("https://cdn.glitch.global/95a4f36d-8f2e-43e2-9225-82e0b4e65cc3/roboto.ttf?v=1648214394138");
}
